{{- if not .Values.secrets.useExisting }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "test-consumer.fullname" . }}-secrets
  labels:
    {{- include "test-consumer.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.secrets.eventHubConnectionString }}
  event-hub-connection-string: {{ .Values.secrets.eventHubConnectionString | quote }}
  {{- end }}
  {{- if .Values.secrets.sqlUsername }}
  sql-username: {{ .Values.secrets.sqlUsername | quote }}
  {{- end }}
  {{- if .Values.secrets.sqlPassword }}
  sql-password: {{ .Values.secrets.sqlPassword | quote }}
  {{- end }}
{{- end }}
